<h2 mat-dialog-title>Confirmar Cita</h2>

<mat-dialog-content>
  <p>¿Estás seguro de que quieres agendar esta cita?</p>

  <p *ngIf="data.professionalName"><strong>Profesional:</strong> {{ data.professionalName }}</p>

  <p><strong>Fecha:</strong> {{ data.schedule.dateObject | date: 'EEEE, d \'de\' MMMM \'del\' yyyy' }}</p>
  <p><strong>Hora:</strong> {{ data.schedule.dateObject | date: 'h:mm a' }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onConfirm()">Confirmar</button>
</mat-dialog-actions>
