<div class="page-header">
  <h1 class="title">Próximas Citas</h1>

  <button mat-stroked-button color="primary"
          class="header-btn"
          (click)="goToAll()">
    Ver todas las citas
  </button>
</div>

<div class="table-container" *ngIf="!loading; else loadingTpl">

  <table mat-table [dataSource]="appointments" class="mat-elevation-z8 custom-table">

    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef>Paciente</th>
      <td mat-cell *matCellDef="let a">
        {{ a.clientName }} {{ a.clientLastname }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let a">
        {{ a.date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Hora</th>
      <td mat-cell *matCellDef="let a">
        {{ a.timeStart }} - {{ a.timeEnd }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let a">
        <mat-form-field appearance="outline" class="status-field">
          <mat-select [(value)]="a.status"
                      (selectionChange)="onStatusChange(a)">
            <mat-option *ngFor="let s of statusOptions" [value]="s">
              {{ s }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let a" class="actions">
        <button mat-flat-button color="accent"
                (click)="openSummaryDialog(a)">
          Registrar Conclusión
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['client','date','time','status','actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['client','date','time','status','actions'];"></tr>

  </table>

</div>

<ng-template #loadingTpl>
  <div class="loading">Cargando próximas citas...</div>
</ng-template>
