h1 { font-family: 'Poppins', sans-serif; font-size: 2rem; margin-bottom: 0.5rem; }

.subtitulo {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 1.5rem;
}

/* --- Controles Superiores --- */
.controls-bar {
  margin-bottom: 2rem;
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}
.search-bar { width: 100%; }
:host ::ng-deep .search-bar .mat-mdc-form-field-subscript-wrapper { display: none; }
:host ::ng-deep .search-bar .mat-mdc-text-field-wrapper { height: 50px !important; }

/* --- Contenedor de la Lista --- */
.list-container {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}
table { width: 100%; }

/* --- Estilos para los Chips de Roles --- */
.role-client {
  background-color: #e6f7ff !important; /* Azul */
  color: #007BFF !important;
}
.role-prof {
  background-color: #f0e6ff !important; /* Morado */
  color: #6f42c1 !important;
}
.role-admin {
  background-color: #fde0e0 !important; /* Rojo */
  color: #dc3545 !important;
}

/* --- Estilo para el Select de Acciones --- */
.role-select {
  /* Quitamos el padding inferior para que quepa en la fila */
  :host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
